      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0" style="color:black;">carrito de compras</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#" style="color: rgba(0, 0, 255, 0.395);">Home</a></li>
                <li class="breadcrumb-item active" style="color:black;">carrito</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <section class="content">
        <div class="container-fluid">  
          <!--contenido-->
          <hr>
          <input type="button"  value="Insertar carrito" class="btn btn-warning"(click)="mostrar_form('ver')"><hr>
          <!--formulario-->
          <div id="formulario" *ngIf="mform==true">
            <form>
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" class="form-control" placeholder="id_carrito" [(ngModel)]="obj_carrito.id_carrito">
                  <span style="color: red;" *ngIf="validar_id_carrito ==false">insertar id_carrito</span>
                </div>
                <div class="col-lg-6">
                  <input type="number" class="form-control" placeholder="total" [(ngModel)]="obj_carrito.total">
                  <span style="color: red;" *ngIf="validar_total ==false">insertar total</span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <br>
                  <input type="button" value="Guardar" class="btn btn-primary" style="width: 100%;" (click)="validar('Guardar')" *ngIf="botones_formulario==false">
                  <input type="button" value="editar" class="btn btn-primary" style="width: 100%; " (click)="validar('editar')"*ngIf="botones_formulario==true" >
                </div>
                <div class="col-lg-6">
                  <br>
                  <input type="button" value="Cancelar" class="btn btn-secondary" style="width: 100%;" (click)="mostrar_form('no ver')">
                </div>
              </div>

            </form>
          </div>
          <hr>
          <div id="tabla">
            <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-10">
                <div class="table-responsive">
                  <table class="table">
                    <tr>
                         <th>id_carrito</th>
                         <th>fecha_creacion</th>
                         <th>id_cliente</th>
                    </tr>
                    <!--OJOOOOOO POSIBLE ERROR-->
                    <tr *ngForm="let item of carrito">
                         <td>{{item.id_carrito}}</td>
                         <td>{{item.fecha_creacion}}</td>
                         <td>{{item.id_cliente}}</td>
                         <td>
                          <span class="fas fa-edit" style="color: blue; cursor: pointer;" title="editar" (click)="cargar_datos(item, item.id_carrito)"></span>
                          <span class="fas fa-minus-square" style="color: red; cursor: pointer;" title="eliminar" (click)="eliminar (item.id_carrito)"></span>
                         </td>
                    </tr>
    
                  </table>
                </div>
              </div>
              <div class="col-lg-1"></div>
            </div>



          </div>
        </div>
      </section>